.container {
    display: flex;
    align-items: center;
    padding: 20px 40px 40px;
}

.activeDiagram, .notActiveDiagram {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
}

.activeDiagram {
    background: #cdffe4;
    border: 4px solid #58ca90;
    color: #69b284;
    font-weight: bold;
}

.notActiveDiagram {
    border: 4px solid #d9d9d9;
    font-weight: bold;
    color: #b7b9bb;
    word-break: break-all;
}

.dottedLine {
    font-weight: 900;
    font-size: 2rem;
    color: #d9d9d9;
}