.container {
    background: #ffffff;
    border-radius: 10px;
    width: 70%;
    height: 761px;
    overflow: hidden;
    position: absolute;
    top: 65px;
    right: 15%;
}

.displayModal {
    display: block;
}

.hiddenModal {
    display: none;
}