.labelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon {
    font-size: 0.7rem;
    margin-right: 5px;
    color: #ff2f4e;
}

.label {
    color: #0a1219;
    font-weight: 900;
}

.input {
    width: 400px;
    padding: 8px 10px;
    border: 1px solid #b7b9bb;
    border-radius: 5px;
    color: #9c9e9e;
}