* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

:root {
  background: #f7f7f7;
}

button {
  all: unset;
  cursor: pointer;
}